<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <h1>회원가입 페이지</h1>
        <form action="/signup" method="post">
        	<p>
        		<input type="text" name="email" placeholder="이메일">
        	</p>
        	<p>
        		<input type="password" name="pass" placeholder="비밀번호">
        	</p>
        	<p>
        		<input type="text" name="nickName" placeholder="닉네임">
        	</p>
        	<p>
			<input type="hidden" th:if="${_csrf}"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button>회원가입</button>
        	</p>
        </form>
    </body>
</html>